JENKINS_URL={{ jenkins_agent_controller_url }}
JENKINS_AGENT_NAME={{ jenkins_agent_node_name }}
JENKINS_AGENT_WORKDIR={{ jenkins_agent_remote_fs }}
MAVEN_OPTS=-Dmaven.repo.local={{ jenkins_agent_remote_fs }}/.m2/repository
DOTNET_CLI_HOME={{ jenkins_agent_remote_fs }}
NUGET_PACKAGES={{ jenkins_agent_remote_fs }}/.nuget/packages
DOTNET_CLI_TELEMETRY_OPTOUT=1
DOTNET_NOLOGO=1
